*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 20px;
    background-color: #06704C;
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
}


.container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: grid;
}

.card {
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #06704C;
    padding: 15px;
    color: whitesmoke;
    font-weight: bolder;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #06704C;
    padding: 15px;
    color: whitesmoke;
    font-weight: bolder;
}

body {
    background-image: url('assets/busstop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body h2 {
    font-size: 64px;
}

body h3 {
}

body p {
    font-size: 24px;
}

body li p {
    font-size: 16px;
}

body div {
    margin: 15px;
}

body ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
}

#aboutUs {
    flex-direction: column;
    justify-content: flex-start;
}

#lsTeam {
    align-self: flex-start;
}