*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 20px;
    background-color: #06704C;
    color: whitesmoke;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-image: url('./busstop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

body div {
    margin: 15px;
}

body h2 {
    font-size: 56px;
    font-weight: bolder;
}

body p {
    font-size: 24px;
}

body ul {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
}

body ul li {
    padding: 5px;
    text-align: center;
}

.container {
    display: flex;
}

.box {
    display: flexbox;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #06704C;
    padding: 15px;
    color: whitesmoke;
    font-weight: bolder;
}

.card {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #06704C;
    padding: 15px;
    color: whitesmoke;
    font-weight: bolder;
}

#msgWelcome {
    margin-top: 10%;
}